<p id="notice"><%= notice %></p>

<p>
  <strong>Permalink:</strong>
  <%= @namespaced_whizzer.permalink %>
</p>

<%= link_to 'Edit', edit_namespaced_whizzer_path(@namespaced_whizzer) %> |
<%= link_to 'Back', namespaced_whizzers_path %>
